
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://kit.fontawesome.com/33e7645090.js" crossorigin="anonymous"></script>
    <title th:text="${title}"></title>
</head>
<body>
<div id="wrapper">
<div class = "header">
    <h1 th:text="${h1title}">- Hi -</h1>
    <h2 th:text="${channelid}">- Hi -</h2>
</div>
<div id="main-content">
    <div class="flex-gallery">
        <div class="flex-image" th:each="image : ${images}">
            <a th:href="${image.fileUrl}">
                <img width="100%" th:src="${image.fileUrl}">
                <p th:text="${image.fileName}"></p>
            </a>
        </div>
    </div>
    <div class="info-box">
        <div class="info-box-icon">
            <i class="fas fa-info-circle fa-3x"></i>
        </div>
        <div class="info-box-content">
            <p th:text="${message}"></p>
            <a th:href="${link}">Add Server Your Server</a>
        </div>
    </div>
</div>
<footer>
    <p>The ugglyness Created by Renato Opazo Salgado</p>
    <p><a href="https://github.com/TheRenato">github.com/TheRenato</a></p>
    <p><a href="https://github.com/TheRenato/DC-Gallery">github.com/TheRenato/DC-Gallery</a></p>
    <p>You are welcome to send us your own CSS.</p>
    <h3>Renato: "I'm a developer not a designer"</h3>
</footer>
</div>
</body>
</html>