
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://kit.fontawesome.com/33e7645090.js" crossorigin="anonymous"></script>
    <title th:text="${title}"></title>
</head>
<body>
<div id="wrapper">
    <div class = "header">
        <h1 th:text="${h1title}">- Hi -</h1>
        <h2 th:text="${channelid}">- Hi -</h2>
    </div>
    <div id="main-content">
        <div class="info-box">
            <div>
                <p>This Discord bot will create a gallery of the images from one of your channels.
                    You can add multiple channels, but every channel will get it's own url.
                    The bot will detect when you add a new image in your channel and ad it to the gallery.
                </p>
                <p>The images will not be hosted by us. We are just presenting them as a gallery.
                    When the server restart your gallery will start from zero and you must do the build command again.
                    This is to prevent unused gallery in the database and dead links.
                </p>
                <p>We will add more functions to the DC-Gallery bot. As you could delete the gallery by your self.
                    If you have ideas or trouble with the bot just put an issue in github.
                </p>
            </div>
        </div>
        <div class="info-box">
            <div class="info-box-icon">
                <i class="fas fa-info-circle fa-3x"></i>
            </div>
            <div class="info-box-content">
                <p th:text="${message}"></p>
                <a th:href="${link}">Add Server Your Server</a>
            </div>
        </div>
        <div class="info-box">
            <div class="info-box-icon">
                <div class="info-step"><p>2</p></div>
            </div>
            <div class="info-box-content">
                <p>Write this in the channel you will add to the gallery.</p>
                <p>!gallery build</p>
            </div>
        </div>
        <div class="info-box">
            <div class="info-box-icon">
                <div class="info-step"><p>3</p></div>
            </div>
            <div class="info-box-content">
                <p>To get your url to the gallery you just write:</p>
                <p>!gallery url</p>
            </div>
        </div>
    </div>
    <footer>
        <p>The ugliness Created by Renato Opazo Salgado</p>
        <p><a href="https://github.com/TheRenato">github.com/TheRenato</a></p>
        <p><a href="https://github.com/TheRenato/DC-Gallery">github.com/TheRenato/DC-Gallery</a></p>
        <p>You are welcome to send us your own CSS.</p>
        <h3>Renato: "I'm a developer not a designer"</h3>
    </footer>
</div>
</body>
</html>